@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #fbfaf7;
  --primary-text-color: #252525;
  --secondary-text-color: #807c77;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* For Firefox Browser */
  scrollbar-width: thin;
  scrollbar-color: currentColor #fff;
}

/* For Chrome, EDGE, Opera, Others */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--theme-color);
  font-family: var(--font-sans);
}

.text-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73vh;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(207, 144, 8, 0.4);
  font-family: var(--font-mooli);
}

.letter {
  margin: 0 2px;
  animation: wave 1.5s infinite;
  animation-timing-function: linear;
  font-family: var(--font-kalam);
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.letter:nth-child(1) {
  animation-delay: 0s;
}

.letter:nth-child(2) {
  animation-delay: 0.1s;
}

.letter:nth-child(3) {
  animation-delay: 0.2s;
}

.letter:nth-child(4) {
  animation-delay: 0.3s;
}

.letter:nth-child(5) {
  animation-delay: 0.4s;
}

.letter:nth-child(6) {
  animation-delay: 0.5s;
}

.letter:nth-child(7) {
  animation-delay: 0.6s;
}
.btn-primary {
  @apply rounded-lg bg-gray-900 px-4  py-2 text-gray-100 hover:bg-gray-800 disabled:bg-opacity-50 disabled:hover:bg-opacity-50;
}
.btn-secondary {
  @apply rounded-lg border border-[--primary-text-color] px-4 py-2 transition hover:bg-[--primary-text-color] hover:text-white;
}
.btn-rounded-primary {
  @apply rounded-full  border bg-[--primary-text-color] px-6   py-1.5 text-white  transition hover:bg-gray-800;
}
.btn-rounded-secondary {
  @apply rounded-full border  border-[--primary-text-color]   px-6 py-1.5 transition hover:bg-[--primary-text-color] hover:text-white;
}
.custom-bg-gradient {
  background: linear-gradient(
    180deg,
    rgba(226, 169, 45, 1) 0%,
    rgba(148, 62, 14, 1) 100%
  );
}
.card {
  @apply flex flex-col justify-between overflow-hidden rounded-lg border-2 border-black/[0.05] bg-white/[0.5] shadow-md;
}

.filtersContainer {
  width: 280px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.custom-blur {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.modalShadow {
  box-shadow: rgba(17, 12, 46, 0.1) 0px 48px 120px 0px;
}
.categoryContainer:hover img {
  scale: 1.1;
}
